<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserTenant" value="__OrionDiego" />
		<add key="PasswordTenant" value="Diego12345"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="binding_SOAP12" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647" />
					<httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic" />
				</binding>
				<binding name="binding_SOAP121" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647" />
					<httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic" />
				</binding>
				<binding name="binding_SOAP122" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647" />
					<httpsTransport maxReceivedMessageSize="2147483647"  authenticationScheme="Basic" />
				</binding>
				<binding name="binding_SOAP123" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647" />
					<httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://my339936.sapbydesign.com/sap/bc/srt/scs/sap/querymaterialin"
                binding="customBinding" bindingConfiguration="binding_SOAP12"
                contract="Item.QueryMaterialIn" name="binding_SOAP12" />
			<endpoint address="https://my339936.sapbydesign.com/sap/bc/srt/scs/sap/querysupplierin1"
                binding="customBinding" bindingConfiguration="binding_SOAP121"
                contract="Proveedores.QuerySupplierIn" name="binding_SOAP121" />
			<endpoint address="https://my339936.sapbydesign.com/sap/bc/srt/scs/sap/businesspartnerdatamanagement1?sap-vhost=my353521.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding_SOAP123"
                contract="SocioNegocioNumeroTelefonico.BusinessPartnerDataManagementQueryBusinessPartnerIn"
                name="binding_SOAP123" />
			<endpoint address="https://my339936.sapbydesign.com/sap/bc/srt/scs/sap/querycustomerin1"
                binding="customBinding" bindingConfiguration="binding_SOAP122"
                contract="Clientes.QueryCustomerIn" name="binding_SOAP122" />
		</client>
	</system.serviceModel>
</configuration>